@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

    *{
        padding: 0;
        margin: 0;
        overflow: hidden;
        font-family: 'Ubuntu', sans-serif;
    }
    body{
      height: 100vh;
      background-image: url(/Social-Media/public/Images/mont-blanc-massif-3840x2160-21326.jpg);
      background-size: cover;
    }
    .container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .div {
      display: flex;
      color: white;
      border-radius: 10px;
      transition: transform 0.5s ease;
      position: absolute;
    }

    .div-1 {
      width: 800px;
      height: 450px;
      left: 0;
      transform: translateX(20%);
      background-color: rgba(0, 0, 0, 0.344);
      backdrop-filter: blur(2px);
    }

    .div-2 {
      width: 400px;
      height: 451px;
      right: 0;
      top: 19%;
      transform: translateX(-140%);
      background-color: aliceblue;
      text-align: center;
      display: grid;
    }
    .div-2 h1,h3{
      color: #2980b9;
      text-align: center;
    }

    .div.move-left {
      transform: translateX(-130%);
    }

    .div.move-right {
      transform: translateX(80%);
    }

    .box-Login{
      background-color: transparent;
      height: 100%;
      width: 50%;
      text-align: center;

    }
    .box-Login h1{
      text-align: center;
      margin: 20px;
    }
    .box-Loguin .btn-icon{
      background-color: transparent;
      border: none;
      cursor: pointer;
      

    }
    .box-cadastro{
      background-color: transparent;
      height: 100%;
      width: 100%;
      text-align: center;
    }
    .box-cadastro label{
      margin: 15px;
    }
    .box-cadastro h1{
      margin: 20px;
    }
    .form-group{
      margin: 15px 5px;
    }
    .keySenha{
      width: 20px;
      height: 20px;
      filter: invert(1);
    }
    input{
      width: 180px;
      padding: 5px;
      border: none;
      border-bottom: 2px solid #fff;
      background-color: transparent;
      outline: none;
      font-size: 14px;
      color: #fff;
    }
    input:focus {
    border-bottom: 2px solid #000;
    }
    .btn {
      background-color: white;
      border: 2px solid #2980b9;
      color: #2980b9;
      border-radius: 5px;
      padding: 5px 10px;
      cursor: pointer;
      transition: 0.5s;
      margin: 5px 0px;
    }
    .btn:hover{
      background-color: #205f89;
      color: #fff;
    }
    .box-cadastro p{
      margin: 10px;
    }
    .btn-icon{
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
    .iconFaceGoogle{
    width: 34px;
    height: 34px;
    margin: 15px;
    }
    a {
    color: #fff;
    transition: color 0.3s ease;
    text-decoration: none;
  }

    a:hover {
    color: #892520;
    
  } 
  input::placeholder{
    color: rgb(128, 190, 244);
  }
  .divpaiInfo{
    display: flex;
  }
  .videoinfo1{ 
    background-image: url(https://video-public.canva.com/VAGVNYbxepc/v/cdc7969ae7.gif);
    background-size: cover;
    width: 140px;
    height: 130px;
    float: right; 
    margin: 10px;
  }
  .videoinfo2{ 
    background-image: url(https://video-public.canva.com/VAGTnt0ttck/v/f3f896e062.gif);
    background-size: cover;
    width: 140px;
    height: 170px;
    margin: 10px;
  }
  .videoinfo4{
    background-image: url(https://video-public.canva.com/VAFZTFLb2_s/v/dc2a273083.gif);
    background-size: cover;
    width: 200px;
    height: 150px;
    margin: 10px;

  }
  .videoinfo4{
    background-image: url(https://video-public.canva.com/VAFlsZrk1jI/v/64e0165c3e.gif);
    background-size: cover;
    width: 170px;
    height: 170px;
    margin: 10px;

  }
  

