<!DOCTYPE html>
<html lang="pt-br">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Social-Media/public/css/loguin.css">
    <title>Loguin</title>
</head>

<!-- sessão de divs da beckground-->
    <body>
    <div class="backcaixa">
        <div class="backdivs">
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
        </div>        <div class="backdivs">
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
        </div>        <div class="backdivs">
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
        </div>        <div class="backdivs">
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
        </div>        <div class="backdivs">
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
        </div>        <div class="backdivs">
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
        </div>        <div class="backdivs">
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
        </div>        <div class="backdivs">
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
        </div>        <div class="backdivs">
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
        </div>        <div class="backdivs">
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
        </div>        <div class="backdivs">
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
        </div>        <div class="backdivs">
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
        </div>        <div class="backdivs">
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
        </div>        <div class="backdivs">
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
        </div>        <div class="backdivs">
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
        </div>        <div class="backdivs">
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
        </div>        <div class="backdivs">
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
        </div>        <div class="backdivs">
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
        </div>        <div class="backdivs">
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
        </div>        <div class="backdivs">
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
        </div>        <div class="backdivs">
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
            <div class="cubeback"></div>
        </div>
        
        
    </div>
    <!-- caixa de loguin -->
        <div class="caixaLoguin">
            <form action="/login" method="POST">
                <h1>Login</h1>
                
                <label for="username">Email:</label> <i id="toggle-email">
                    <!-- codificar o sistema de completar automaticamente para o usuário o email, exemplo: @gmail.com -->
                <input type="text" id="username" name="username" required> <a href="" id="iconCompleteGmail"><i><img src="/Social-Media/public/icons/alternate_email_24dp_UNDEFINED_FILL0_wght400_GRAD0_opsz24.png" alt="" class="keySenha"></i></a>
                <br><br>
                
                <label for="password">Senha:</label>
                <!-- codificar o sistema de ocultar e desocultar a senha -->
                <input type="password" id="senha" name="password" required> <a href="" id="iconVisualizerSenha"><i><img src="/Social-Media/public/icons/visibility_24dp_UNDEFINED_FILL0_wght400_GRAD0_opsz24.png" alt="" class="keySenha"></i></a>
                <br>
                <a href="">Esqueceu a senha?</a>
                <br><br>

                <div class="diviconsFaceGoogle">
                    <a href="" id="caminhoGoogle"><i><img src="/Social-Media/public/icons/google_13170545.png" alt="" class="iconFaceGoogle"></i></a>
                    <a href="" id="caminhoFacebook"><i><img src="/Social-Media/public/icons/communication_15047435.png" alt="" class="iconFaceGoogle"></i></a>
                </div>
                <br><br>
                <div class="divbtn">
                    <button type="submit">Entrar</button>
                </div>
                <br><br>
                
                <p>Não tem uma conta? <a href="">Registre-se</a></p>
                
              </form>

        </div>



    </body>



</html>